@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	border: 0.625rem solid var(--color-white);
	border-top: 0.625rem solid var(--color-blue);
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	animation: spin 1s linear infinite;
}
